<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= user.imageName %>" data-test="user-image">
      <div class="user-info">
        <div class="user-name-email">
          <h2 data-test="user-name">
            <%= user.name %>
          </h2>
          <p data-test="user-email">
            <%= user.email %>
          </p>
        </div>
        <div class="follows-followers">
          <div class="followers">
            <div class="link-ken-the-ninja-num">
              <%= followerCount %>
            </div>
            <div class="link-ken-the-ninja">
              Followers</div>
          </div>
          <div class="vector1"></div>
          <div class="following">
            <div class="link-ken-the-ninja-num">
              <%= followingCount %>
            </div>
            <div class="link-ken-the-ninja">
              Following</div>
          </div>
        </div>
      </div>
      <% if(currentUser.id===user.id) { %>
        <a href="<%= `/users/${user.id}/edit` %>">Edit</a>
        <% } else if(hasFollowed) { %>
          <div class="button following" data-user-id="<%= user.id %>"></div>
          <% } else { %>
            <div class="button follow" data-user-id="<%= user.id %>"></div>
            <% } %>

    </div>
    <ul class="user-tabs">
      <li class="active">
        <a href="<%= `/users/${user.id}` %>">Posts</a>
      </li>
      <li>
        <a href="<%= `/users/${user.id}/likes` %>">Likes</a>
      </li>
    </ul>
    <%- include('../_timeline', {timeline: timeline}); %>


  </div>
</div>
<div class="modal">
  <div class="follows-followers-list">
    <div class="follows-followers-list-header">
      <div class="selectable-items">
        <div class="selectable-item" name="followers">
          Followers
        </div>
        <div class="selectable-item" name="following">
          Following
        </div>
        <% if(currentUser.id!==user.id) { %>
          <div class="selectable-item" name="followers_you_follow">
            知り合いのフォロワー
          </div>
          <% } %>
      </div>
      <div class="close-button">
      </div>
    </div>
  </div>
</div>